@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,900;1,400;1,700;1,900&display=swap');

/* ========== Universal Section ==============  */
* {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1400px;

}

button {
    width: 156px;
    height: 56px;
    border-radius: 8px;
    background: #F00;
    border: none;
    color: white;
    padding: 16px 32px;
    cursor: pointer;
}

.important {
    color: red;
}


input {
    border-radius: 8px;
    border: none;
}

/* =========== Body Section ============= */

body {
    width: 100%;
    position: relative;
    width: 1400px;
    margin: 0 auto;
}



.main_section {
    max-width: 1320px;
    margin: 0 auto;
}

/* ============== Header Section Start ============== */

#banner {

    background-image: linear-gradient(180deg, #070211 -0%, rgba(7, 2, 17, 0) 100%), url("../resources/Banner\ Image.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    margin: 10px auto;
}


#banner .banner_container .banner_content {
    color: #FFF;
    padding: 177px 344px;
    text-align: center;
    max-width: 632px;
    margin: auto;
    font-family: 'Merriweather', serif;

}

#banner .banner_container .banner_content .banner_small-title {
    font-size: 32px;
    font-weight: 400;

}

#banner .banner_container .banner_content .banner_big_title {
    font-size: 72px;
    font-weight: 900;

}

/* ============== Main section Start ================ */

.discount_section {
    text-align: center;
    padding: 35px 0;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
}

.discount_section .discount_percent {
    color: #F00;
    font-size: 88px;
    font-weight: 700;

}

.discount_section .discount_text {
    padding: 20px 0;
}

.discount_section .discount_text .holiday_deals {

    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.discount_section .discount_text .all_categories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.discount_section img {
    width: 600px;
    height: 400px;

}

.welcome_party {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
    height: 600px;
    border-radius: 16px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Merriweather', serif;
    color: #FFF;
    margin-bottom: 20px;
}

.welcome_party .party_title_container {
    padding-left: 100px;
}

.welcome_party .party_title_container .party_title {
    width: 642px;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7px;
}

.welcome_party .party_title_container .party_description {
    width: 697px;
    color: rgba(255, 255, 255, 0, 8);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0 40px;
}

.welcome_party .party_title_container a {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 32px;
    text-transform: uppercase;
    text-decoration: none;
}

.welcome_party .party_title_container a:hover {
    color: #F00;
}

.welcome_party img {
    position: relative;
    right: 35px;
    opacity: 0.5;
    width: 320px;
    padding-right: 60px;

}

.schedule_section {
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 45%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    padding-top: 120px;

}

.schedule_section button {
    margin: 30px 0;
}

.coming_offer_container {
    max-width: 1320px;
    height: 482px;
    margin-bottom: 80px;

}

.coming_offer_container .coming_offer {

    display: flex;
    text-align: left;
    align-items: center;
    font-family: 'Inter', sans-serif;
    justify-content: space-between;
    gap: 30px;
    padding: 0 20px;
}

.coming_offer_container .coming_offer .best_offer {
    color: red;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

.coming_offer_container .coming_offer h2 {

    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin: 22px 0;
}

.coming_offer_container .coming_offer .best_offer .best_offer_description {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.coming_offer_container .coming_offer .img_circle {

    border-radius: 360px;
    border: 20px solid red;
    flex-shrink: 0;
    width: 360px;
    height: 360px;
    padding: 25px;

}

.coming_offer_container .coming_offer .year {
    color: red;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.coming_offer_container .coming_offer .year_description {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.coming_offer_container .coming_offer .year_img {
    width: 140px;
    height: 140px;
}

.functional {
    max-width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: auto;
}

.functional h4 {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Merriweather', serif;
}

.functional h1 {
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    margin: 30px 0;
}

.functional p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
}



.bonus_section {

    max-width: 1320px;
    margin-bottom: 30px;
    position: relative;
}

.bonus_section .bonus_image_container {
    max-width: 1320px;
    height: 600px;
    display: flex;
justify-content: space-between;
}


.bonus_section .offer_content {
    width: 206px;
    height: 206px;
    margin:0 auto;
    position: relative;
}

.bonus_section .offer_content img {
    width: 206px;
    height: 206px;
    position: absolute;
    top: 412px;
    right: -60px;
    cursor: pointer;
    

}
.bonus_section .bonus_image_container .gift_box_image{
    filter: brightness(130%);
}


.bonus_section .offer_content img:hover{
transform: scale(1.1);
}


.bonus_section .bonus_image_container .gift_box_image {
    position: relative;
    bottom: -210px;
    left: 0;
}

.best_gift {
    width: 896px;
    height: auto;
    font-family: 'Inter', sans-serif;
    padding: 10px;
}

.best_gift h2 {
    color: red;
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    font-weight: 500;


}

.best_gift h1 {
    color: black;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin: 20px 0;
}

.best_gift p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.image-container_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

.image-container_box .image-container {
    width: 30%;
    margin: 10px;
}

.image-container_box .image-container img {
    border-radius: 8px;
}

.image-container_box .image-container img:hover {
    box-shadow: #f48c9d 8px 6px 8px;
    transform: scale(1.1);
}

.subscribe {
    max-width: 1320;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 20px auto;
}

.subscribe .newsletter_img {
    width: 150px;
    margin: 20px auto;
    padding: 40px;

}

.subscribe .newsletter h1 {
    color: black;
    font-size: 48px;
    font-weight: 900;
}

.subscribe .newsletter p {
    font-family: 'Inter', sans-serif;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    width: 896px;
    margin: 10px auto;
}

.subscribe form {
    width: 640px;
    display: flex;
    margin: 40px auto;
}

.subscribe input {
    padding: 10px;
    border-radius: 50px 0 0 50px;
}

.subscribe button {
    border-radius: 0 50px 50px 0;
}

/* ============ Footer Section Start ============== */


#footer_section {
    background: #070211;
    height: 450px;
    margin: 0 auto;
    border-radius: 16px;
    position: relative;


}

#footer_section .footer_container {
    margin: auto;
    max-width: 1320px;
}

#footer_section .footer_container .footer_details_container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

#footer_section .footer_container .footer_details_container .footer_details {
    text-align: center;
}

#footer_section .footer_container .footer_details_container .footer_details .footer_text {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

#footer_section .footer_container .footer_details_container .footer_details #icon1 img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
    cursor: pointer;
}


#footer_section .footer_container .social_media .social_link {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 30px 0;
    gap: 15px;
}
#footer_section .footer_container .social_media .social_link img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    

}

#footer_section .footer_container .footer_details_container .footer_details .footer_text a {
    text-decoration: none;
    color: #FFF;

}

#footer_section .footer_container .footer_details_container .footer_details .footer_text a:hover {
    color: #F00;
}